.btn_signin{
    background: #8c91da;
    // float: left;
    width: auto;
    color: #fff;
    padding: 5px 10px;
    margin: 20px 5px 0;
    font-size: 16px;}
    .register_btn{
        // float:left; 
        width: auto;
        background:#fff;
        box-shadow: 0 2px 4px 0 rgba(231,231,231,0.31);
        padding: 5px 10px;
        border: solid 1px #e5e9f2;
        margin: 20px 5px 0;
        font-size: 16px;}