<div class="row">
  <div class="col-sm-12">
    <div class="white_container">

      <h1>{{addeditusercontactmessage}}


        <div class="text-center userPic">
          <div class="userPic_outer">
            <div class="userPic_inner">

                <div *ngIf="model.photoId!=' '; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock> <img *ngIf="model.photoId; else elseBlock" src="{{imageUrl}}{{model.photoId}}" alt="mysafetypics"></ng-template>
                <ng-template #elseBlock><img src="../../assets/img/user.png" alt="mysafetypics"></ng-template>
             
              <!-- <ng-template #elseBlock>
                <div>
                  <img src="../../assets/img/userPic.png" alt="mysafetypics">
                </div>
              </ng-template> -->
              <!-- <img  src="{{imageUrl}}{{model.photoId}}" (error)="errorHandler($event)" alt="Profile Pic"> -->
            </div>
            <label for="file">
              <span class="fa fa-camera"></span>
            </label>
          </div>
          <input style="display: none;" type="file" id="file" (change)="handleFileInput($event.target.files)"
          />
        </div>




        <div class="pull-right">
          <!-- <button type="button" class="addCont_btn">
            <div>
              <span *ngIf="saveMode" class="fa fa-plus"></span>Add Userpic
            </div>            
          </button> -->


        </div>
      </h1>
      <form name="form" (ngSubmit)="f.form.valid &&((saveMode && saveUserContact())||(!saveMode && UpdateUserContact()))" #f="ngForm">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-12 m-t-30">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group m-b-10">
                      <label>Name</label>
                      <input type="text" class="form-control custom_form" name="firstname" [(ngModel)]="model.firstname" #firstname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstname.invalid }"
                        required />
                      <div *ngIf="f.submitted && firstname.invalid" class="invalid-feedback" class="text-danger">
                        <div *ngIf="firstname.errors.required">
                          Name is required
                        </div>
                      </div>
                      <!-- <input type="text" class="form-control custom_form" placeholder="Essie"> -->
                    </div>
                  </div>
                  <div class="col-sm-6 m-b-10">
                    <div class="form-group">
                      <label>Surname</label>
                      <input type="text" class="form-control custom_form" name="lastname" [(ngModel)]="model.lastname" #lastname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastname.invalid }"
                        required />
                      <div *ngIf="f.submitted && lastname.invalid" class="invalid-feedback" class="text-danger">
                        <div *ngIf="lastname.errors.required">
                          Surname is required
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="col-sm-6 m-b-10">
                    <div class="form-group">
                      <label>Email</label>
                      <input type="email" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                        required email class="form-control custom_form">
                      <div *ngIf="f.submitted && email.invalid" class="invalid-feedback" class="text-danger">
                        <div *ngIf="email.errors.required">
                          Email is required
                        </div>
                        <div *ngIf="email.errors?.email">
                          Email is not valid.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 m-b-10">
                    <div class="form-group">
                      <label>Phone Number</label>
                      <input type="text" maxlength="10" pattern="[0-9]+" name="phoneNo" [(ngModel)]="model.phoneNo" #phoneNo="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phoneNo.invalid }"
                        required class="form-control custom_form" placeholder="">
                      <div *ngIf="f.submitted && phoneNo.invalid" class="invalid-feedback" class="text-danger">
                        <div *ngIf="phoneNo.errors.required">
                          PhoneNumber is required
                        </div>

                        <div *ngIf="phoneNo.errors.pattern">
                          PhoneNumber is invalid
                        </div>

                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-sm-12">
                            <button type="button" class="btn register_btn" (click)='showRegisterDialogbox()'>Sign Up</button>
                          </div> -->
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="row">
              <div class="col-sm-5">
                <button type="button" (click)=" cancelpopupchanges();" class="btn register_btn">Cancel</button>
              </div>
              <div class="col-sm-5">
                <button type="submit" [disabled]="loading" *ngIf="saveMode" class="btn btn_signin">Save</button>
                <button type="submit" [disabled]="loading" *ngIf="!saveMode" class="btn btn_signin">Update</button>
              </div>
              <!-- <div class="col-sm-5">
                <button type="submit" class="btn btn_signin">Save</button>
              </div> -->
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>