<div class="row">
    <div *ngFor="let trip of tripdata; let i = index;" class="col-sm-3">
        <div (click)="RedirectToSos(trip.id)">
            <div class="trip-section">
                <div class="trip-sub">{{trip.tripStart| date : "d MMM y" }}</div>
                <div class="trip-title">
                    <h4>Market</h4>
                    <h4>{{trip.addressDisplay}}</h4>
                </div>
                <div class="trip-sub trip-sub2 text-center">
                    <h3>{{calculateArrivalStatus(trip.tripStart,trip.actualTripEnd)}}
                    </h3>
                    <p *ngIf="!trip.notifyAtStart">Emergency mode did not turn on</p>
                    <p *ngIf="trip.notifyAtStart">Emergency mode was turned on</p>
                </div>
            </div>
        </div>
    </div>
</div>
