.confirmEmail {
    margin-top: 50px;
    p { font-size: 16px;}
    .fa { font-size: 50px; color: #8c91da; margin-bottom: 10px;}
    .btn { margin-top: 20px; background: #8c91da; border: none; padding: 10px 30px;}
}