<div class="container confirmEmail">
  <div class="col-sm-offset-3 col-sm-6 text-center">
    <p><span class="fa fa-envelope"></span></p>
    <p>A confirmation code was sent to your account. Check your email and enter the confirmation code provided in that email to activate your account.</p>
  
<form>
  <div class="col-sm-12">
    <div class="form-group">
      <label class="control-label"></label>
      <input type="text" class="form-control" placeholder="Validation Code">
    </div>
  </div>
  <div class="col-sm-12">
    <button type="button" class="btn btn-primary">Submit</button>
  </div>
</form>
</div>
</div>