<div class="col-sm-12 chats">
  <ul>
    <li class="text-left">
      <div class="pull-left">
          <img src="../../assets/img/chat_pic.png" alt="Chat User">
      </div>
      <div class="pull-left">
        <h5>Alan Alexander</h5>
        <p>There is a lot of exiciting stuff going on in the stars</p>
      </div>
    </li>
    <li>
        <div class="pull-left">
            <img src="../../assets/img/chat_pic.png" alt="Chat User">
        </div>
        <div class="pull-left">
          <h5>Bratt McCoy</h5>
          <p>Internet Advertising Trends You Won T Be Disappointed</p>
        </div>
      </li>      
        <li class="text-right">
            <div class="pull-right">
                <img src="../../assets/img/chat_pic.png" alt="Chat User">
            </div>
            <div class="pull-right">
              <h5>Dora Ingram</h5>
              <p class="pull-right">Internet Advertising Trends You Won T Be Disappointed</p>
            </div>            
          </li>
          <li>
              <div class="pull-left">
                  <img src="../../assets/img/chat_pic.png" alt="Chat User">
              </div>
              <div class="pull-left">
                <h5>Bratt McCoy</h5>
                <p>Internet Advertising Trends You Won T Be Disappointed</p>
              </div>
            </li>
  </ul>
  <div class="row">
    <div class="col-sm-9">
      <input type="text" class="form-control" placeholder="Type Your Message">
    </div>
    <div class="col-sm-3">
      <button type="button" class="btn btn_signin pull-right">Send</button>
    </div>
  </div>
</div>
