@import url('https://fonts.googleapis.com/css?family=Roboto');
*{margin:0; padding:0;}
body{font-family: 'Roboto', sans-serif !important;background:#f5f6fa !important;}
.ng-bar {
    background: #ff4e4e !important;
}
.ng-meteor { box-shadow:  #ff4e4e 0px 0px 10px, #ff4e4e 0px 0px 5px  !important;}
.ng-spinner-icon {
    border-top-color: #ff4e4e !important;
    border-left-color: #ff4e4e !important;
}